---
layout: classic-docs
---

<div class="row" id="install-guides">
  {% assign install_docs = site.docs | where: "categories", "installing-airbrake" | sort: "language" %}
  {% for doc in install_docs %}
    {% assign doc_title = doc.short-title | default: doc.title %}
    {% if doc.slug != page.slug %}
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <a class="thumbnail btn btn-default" href="{{ site.baseurl }}{{ doc.url }}">
        <img src="/docs/assets/img/docs/languages/{{doc.language}}.png" alt=""/>
        <div class="text-center doc-title">{{ doc_title }}</div>
      </a>
    </div>
    {% endif %}
  {% endfor %}
</div>
