.content-wrap {
  background: $ab-white;
  min-height: 75vh;

  @media (min-width: $screen-sm-min) {
    box-shadow: inset 1px 0px 0px $ab-grey-800;
  }
}

.content {
  max-width: 100vw;
  padding: $padding-sidebar-content;
  color: $ab-grey-300;
  font-size: $fontXDefault;

  @media (min-width: $screen-sm-min) {
    padding: 2em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  img {
    max-width: 100%;
  }

  pre {
    border-radius: 0;
    color: $ab-white;
    background: $ab-blue-100;
  }

  table {
    width: 100%;
    margin-bottom: 2em;

    th,
    td {
      padding: 0.5em;
    }

    td {
      border-top: 1px solid $ab-grey-900;
    }

    th {
      border-bottom: 2px solid $ab-grey-900;
    }
  }
}

.category-flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-left: -15px;
  margin-right: -15px;
}

.category-flex-row div {
  @media (max-width: 1300px) {
    flex-basis: 100%;
  }
  flex-basis: 49%;
  margin-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;

  border: 1px solid $ab-grey-900;
  border-radius: 5px;
}

